<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<meta charset="utf-8">
	<title></title>
</head>
<body style="padding-top:20px">

	<div class="container">
	<nav class="navbar navbar-dark bg-dark">
  	<span class="navbar-brand mb-0 h1">FFT Calculator</span>
	</nav><br><br>
	<div class="row">
		<div class="col">
			<p><h3><u>Pseudocode</u></h3>
			<b><em>Recursive_FFT(a){<br>
n = length(a) // a is the input coefficient vector<br>
if n = 1<br>
  then return a<br>

// wn is principle complex nth root of unity.<br>
wn = e^(2*pi*i/n)<br>
w = 1<br>

// even indexed coefficients<br>
A0 = (a0, a2, ..., an-2 )<br>

// odd indexed coefficients<br>
A1 = (a1, a3, ..., an-1 ) <br>

y0 = Recursive_FFT(A0) // local array<br>
y1 = Recursive-FFT(A1) // local array<br>

for k = 0 to n/2 - 1<br>

  // y array stores values of the DFT <br>
  // of given polynomial. <br>
  do y[k] = y0[k] + w*y1[k]  <br>
     y[k+(n/2)] = y0[k] - w*y1[k]<br>
     w = w*wn<br>
return y<br>
}<br></em></b>
</p>
		</div>
	
		<div class="col">
	<div>
<p><h3>FFT Calculator</h3></p>
<form  action="{% url 'home' %}">
  <div class="form-group" action="{% url 'home' %}">
    <label >Enter the numbers seperated by comma</label>
    <input type="text"   name='input' id="def">
  </div>
  <p id="abc"></p>
  <br>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<p id="abc"></p>
</div>
<div class="col" style="position: relative;left: -20px;">
<div>
	<p><h3>Inverse FFT calculator</h3></p>
	<form  action="{% url 'home1' %}">
  <div class="form-group" action="{% url 'home1' %}">
  <label >Enter the numbers seperated by comma</label>
  <input type="text"   name='input1' id="ghi">
  </div>
  <p id="jkl"></p>
  <br>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
	</div>
	<script>
		var a="{{array1}}"
		document.getElementById("abc").innerHTML=a.substring(1,a.length-1);
		var b="{{array2}}"
		document.getElementById("def").value+=b;
		var c="{{array3}}"
		document.getElementById("ghi").value+=c;
		var d="{{array4}}"
		document.getElementById("jkl").innerHTML=d.substring(1,d.length-1);
	</script>
</body>
</html>